DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.rxoccomjduyizakxnulx.supabase.co:5432/postgres?sslmode=require"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mini_project_test?schema=public"
